#div{
    width: 450px;
    height: 350px;
    margin-top: 150px;
    margin-left: 500px;
    padding: 20px;
    background-color: #ffc107;

}
#email,#password{
    padding: 10px;
}
#password{
    margin-bottom: 5px;
}
#btn{
    margin-left: 10px;
   
}
p{
    margin-top: 5px;
}
